.contact-container {
    max-width: 700px;
    margin: 30px auto;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-align: center;
    color: #2B4D6B;
}
.contact-container p{
    text-align: center;
    font-size: 1.1rem;
    color: #6B7280;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .contact-info p {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.1rem;
    color: #6B7280;
}

input,
textarea {
    padding: 15px;
    margin-bottom: 25px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #2B4D6B;
    outline: none;
    background-color: #f9f9f9;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

input[type="submit"] {
    background-color: #2B4D6B;
    color: #ffffff;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1A2A40;
}